@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #081b29;
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 5%;
  background: #081b29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header .logo {
  position: relative;
  font-size: 1.5em;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  width: 50%;
}

.header .logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1.5s ease-in-out forwards;
  animation-delay: 1.5s;
}

.header #menu {
  display: block;
  font-size: 2em;
}

.header .navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1em 3%;
  display: none;
}

.header .navbar.active {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background: #1a2a35;
  height: 95vh;
}

.header .navbar a {
  display: block;
  background: #1a2a35;
  font-size: 1em;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin: 3rem 0;
  transition: 0.5s;
}
/* .header .navbar a{
    font-size: 1em;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
} */

.header .navbar a:hover,
.header .navbar a.active {
  color: #00abf0;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 10%;
  width: 100%;
}

.home .home-img {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 0.5;
  transition: 2s;
  top: 30px;
}

.home .home-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 3s ease-in-out forwards;
  animation-delay: 1s;
}

.home .home-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.home .home-img img:hover {
  background: #081b29;
  opacity: 0.4;
  border: none;
}

.home .home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 3;
  width: 100%;
}

.home .home-content {
}

.home .home-wrapper .home-content h1 {
  text-align: center;
  position: relative;
  font-size: 1em;
  font-weight: 700;
  line-height: 3;
}

.home .home-wrapper .home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 3s ease-in-out forwards;
  animation-delay: 0.5s;
}

.home .home-wrapper .home-content h3 {
  position: relative;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  color: #00abf0;
}

.home .home-wrapper .home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: align 5s linear both;
  animation-delay: 1s;
}

.home .home-wrapper .home-content p {
  position: relative;
  text-align: justify;
  font-size: 0.8em;
  margin: 20px 0 0;
}

.home .home-wrapper .home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 2.5s ease-in-out both;
  animation-delay: 0.5s;
}

.home .home-wrapper .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}

.home .home-wrapper .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1.5s ease-in-out forwards;
  animation-delay: 1.5s;
  z-index: 2;
}

.home .home-wrapper .btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 0.8em;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home .btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.home .btn-box a:nth-child(2):hover {
  color: #081b29;
}
.home .btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.home .btn-box a:hover {
  color: #00abf0;
}

.home .btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.home .btn-box a:hover::before {
  width: 100%;
}

.home .home-sci {
  position: relative;
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}

.home .home-sci a:hover {
  color: #081b29;
}

.home .home-sci a:hover::before {
  width: 100%;
}

.home .home-wrapper .home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1.5s ease-in-out forwards;
  animation-delay: 1.5s;
  z-index: 2;
}

.home .home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 15px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home .home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  padding: 0 10%;
  background: white;
}

.about .about-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about .about-main .about-logo {
  display: flex;
  align-items: center;
  height: 50%;
  justify-content: center;
}

.about .about-main .about-logo img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.about .about-main .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 2em;
}

.about .about-main .about-content h2 {
  color: #f8d7c7;
  font-weight: 800;
  text-align: center;
  padding-bottom: 10px;
}

.about .about-main .about-content h3 {
  font-weight: 400;
  padding-bottom: 10px;
  color: rgb(54, 189, 189);
  text-align: center;
}

.about .about-main .about-content p {
  color: #081b29;
  font-weight: 600;
  text-align: justify;
  font-size: 15px;
}

.skill {
  height: 100vh;
  padding: 0 10%;
  background: #081b29;
}

.skill .skill-main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skill .skill-main h2 {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  height: 50px;
  flex-grow: 2;
  font-size: 1.5em;
}

.skill .skill-main .skill-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-grow: 10;
}

.skill .skill-main .skill-content p {
  text-align: justify;
  font-size: 0.9em;
}

.skill .skill-main .skill-content .skill-box {
  background-color: #1a2a35;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  border: 0.1em solid white;
  transition: 0.5s ease;
}

.skill .skill-main .skill-content .skill-box:hover {
  border: #00abf0 solid;
  transform: scale(1.02);
}

.portafolio {
  background: white;
  height: 100vh;
  padding: 0 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portafolio h2 {
  position: relative;
  top: 30px;
  color: #00abf0;
  font-weight: 700;
  font-size: 3em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .portafolio  .container i{
    font-size: 1.5em;
    color: black;
    cursor: pointer;
 }

.portafolio  .container i:nth-of-type(2){
    justify-self: end;
}
.portafolio  .container {
  overflow: hidden;
  flex-grow: 1;
}

.portafolio  .slider-container {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  align-items: center;
}

.portafolio  .slider-container .portafolio-container {
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}

.portafolio  .slider-container .show {
  opacity: 1;
  pointer-events: unset;
}

.portafolio  .container .portafolio-container .portafolio-box {
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0 0.5em black;
  overflow: hidden;
  display: flex;
}

.portafolio  .container .portafolio-container .portafolio-box img {
  width: 100%;
  opacity: 1;
    
}

.portafolio  .container .portafolio-container .portafolio-box .portafolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #081b29;
  text-align: center;
  background: linear-gradient(rgba(254,254,254,.5), white);
}

.portafolio
  .container
  .portafolio-container
  .portafolio-box
  .portafolio-layer
  h4 {
  font-size: 2em;
}

.portafolio
  .container
  .portafolio-container
  .portafolio-box
  .portafolio-layer
  a {
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.portafolio
  .container
  .portafolio-container
  .portafolio-box
  .portafolio-layer
  a
  i {
  font-size: 1em;
  color: black;
}

.contact{
  background: #081b29;
  height: 100vh;
  padding: 0 10%;
  width: 100%;
  display: grid;
  grid-template-rows: .2fr 1fr;
}

.contact h2{
  text-align: center;
  position: relative;
  align-self: end;
}

.contact form{
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.contact form .input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 2px;
  font-size: 1em;
  color: white;
  background: #1a2a35;
  border: 1px solid white;
  border-radius: 15px;
  text-align: center;
}

.contact form .btn{
  width: 50%;
  background: #00abf0;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  height: 30px;
}

@keyframes showRight {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes align {
  25% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
